#!/usr/bin/python3
# Copyright 2025, Lingfei Wang
#
# This file is part of airqtl.

#Whether to download input data. Should be True for the tutorial and False for your own data stored in the right folder.
download=True
#Device to use for association mapping. See Pytorch documentation for details.
device='cuda:0'
#Base directory of data for pipeline
dirbase='data'
#Base directory of log for pipeline
dirlbase='log'
#Lists of discrete cell and donor covariates to subset cells into distinct groups for separate sceQTL mapping
subset_covs=(['celltype'],['infection'])
#Example covariate list for subsetting cells only by cell type
#subset_covs=(['celltype'],[])
#If using all cells for sceQTL mapping, create a dummy covariate with the same value for all cells, and use it for subset_covs.

#Easy option to determine whether covariates defined in dc*.tsv.gz are used for sceQTL mapping. Options are 'all' or 'none'. More complex choices: set covs="none" and specify the right parameters in `params_association` below.
covs="none"
#Whether to print verbose log messages
verbose=True

#Optional parameters to finetune each step. See `airqtl eqtl subset --help` or similar for details.
params_subset=''
params_qc=''
params_association=f'--device {device}'
params_qvalue=''
params_mr=''
params_merge=''
