#!/usr/bin/python3
# Copyright 2025, Lingfei Wang
#
# This file is part of airqtl.

#Device to use for association mapping. See Pytorch documentation for details.
device='cuda:0'
#Base directory of data for pipeline
dirbase='data'
#Base directory of log for pipeline
dirlbase='log'
#List of discrete cell and donor covariates to subset cells into distinct groups for separate sceQTL mapping
subset_covs=(['celltype'],['infection'])
#Easy option to determine whether covariates defined in dc*.tsv.gz are used for sceQTL mapping. Options are 'all' or 'none'. More complex choices need to be defined in the rule 'association'.
covs="none"
#Whether to print verbose log messages
verbose=True

#Optional parameters to finetune each step. See `airqtl eqtl subset --help` or similar for details.
params_subset=''
params_qc=''
params_association=f'--device {device}'
params_qvalue=''
params_mr=''
params_merge=''
